<div class="second-page">This is the second page. Here are some random parameters about this location:</div>
<hr/>
<pre>$location.path() = {{$location.path()}}</pre>
<pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
<pre>$route.current.params = {{$route.current.params}}</pre>
<pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
<pre>$routeParams = {{$routeParams}}</pre>
<div>
	<a href="/test/?param=custom">Click here to add parameters to the request</a><br/><br/>
	<a href="/">Click here to go back to index</a><br/><br/>
</div>