body {
    margin: 0;
    padding: 0;
}

.homepage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.homepage-header .title {
    margin: 0;
}

@media screen and (max-width: 610px) {
    .homepage-header a {
        display: none;
    }
    .homepage-header .title {
        font-size: 30px;
    }
}

.measurement-view {
    border: 1px solid #DDD;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 10px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.margin-0 {
    margin: 0;
}

.measurement-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.measurement-view .last-update {
    font-size: 10px;
}

.measurement-view .extra-information {
    font-size: 10px;
}